<div class="rack">
    <div class="section">
        <div class="block">
            <!-- search框 -->
            <div class="false-search search">
                <div class="false-inputs">
                    <span></span>
                    <input type="text" placeholder="输入书名/作者/创意字" class="placeholder" id="searchIpt">
                </div>
                <div class="icon-right" id="click"></div>
            </div>
            <!-- 内容list -->
            <div class="bookracklist">

            </div>
            <script id="bookracklist-Tpl" type="text/x-handlebars-template">
                {{#each this}}
                <dl>
                    <dt>
                    <img src="{{cover}}" alt="">
                </dt>
                    <dd>
                        <div class="title">{{title}}</div>
                        <div class="autor">{{authors}}</div>
                        <div class="read">{{rights}}</div>
                        <div class="new">{{latest}}</div>
                    </dd>
                </dl>
                {{/each}}
            </script>
        </div>
    </div>
</div>