@mixin sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin absolute($direction) {
    position: $direction;
}

@mixin height($height) {
    height: $height;
}

@mixin hidden {
    overflow: hidden;
}

@mixin center($center) {
    text-align: $center;
}

@mixin box_flex {
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
}

@mixin direction ($dir:row) {
    -webkit-flex-direction: $dir;
    flex-direction: $dir;
}

@mixin flexWrap ($wrap) {
    -webkit-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

@mixin flexFlow ($dir:row, $wrap:wrap) {
    -webkit-flex-flow: $dir $wrap;
    flex-flow: $dir $wrap;
}

@mixin justify ($justify:center) {
    -webkit-justify-content: $justify;
    justify-content: $justify;
}

@mixin align ($align:center) {
    -webkit-align-items: $align;
    align-items: $align;
}

@mixin flex ($grow: 1, $shrink: 1, $basis: 0%) {
    -webkit-flex: $grow $shrink $basis;
    flex: $grow $shrink $basis;
}

@mixin flex_grow($val) {
    -webkit-flex-grow: $val;
    flex-grow: $val;
}

@mixin flex_shrink($val) {
    -webkit-flex-shrink: $val;
    flex-shrink: $val;
}

@mixin flex_basis($val) {
    -webkit-flex-basis: $val;
    flex-basis: $val;
}


/*超过几行显示省略号*/

@mixin one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin line($num) {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $num;
    -webkit-box-orient: vertical;
}


/*背景*/

@mixin bg($img, $l:center) {
    background: url($img) no-repeat $l center;
}


/* 滚动 */

@mixin scroll {
    overflow: scroll;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
}

$browser-default-font-size: 37.5px !default;